<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Current User</title>
 </head>
 <body>
 <h1>User Profile</h1>
  User Name: <%= @user.name %>
  Location: <%= @user.location %>
  Email: <%= @user.email %>
 </body>
</html>
